.Whole-Body {
  
}

#Header-H1 {
    font-size: 44px;
  }
  #Header-text {
    font-size: 23px;
  }
  
  .P1 {
    font-size: 33px;
  }
  
  .P2 {
    font-size: 19px;
  }
  
  .P3 {
    font-size: 17px;
  }
  
  .buttons {
    border-radius: 5px;
    font-size: 15px;
    padding: 9px 16px;
    background-color: black;
    color: white;
  }
  /*  STYLE 1 BEGINS
  #Header-Container {
    max-width: 1000px;
    height: 330px;
    background-color: #f3f5f2;
    border-radius: 5px;
    margin: auto;
    padding: 60px 60px 20px 60px;
  }
    
    #Header-Box1 {
    max-width: 60%;
    height: 50%;
    float: left;
  }
  
  #Header-Box2 {
    width: 270px;
    height: 270px;
    border-radius: 5px;
    background-color: #a2a7b0;
    float: right;
    position: relative;
    top: 20px;
    right: 30px;
  }
  
  #Join-button {
  position: relative;
    left: 300px;
    bottom: 50px;
    border-radius: 5px;
    font-size: 15px;
    padding: 9px 18px;
    background-color: black;
    color: white;
  }
  
  #Learnmore-button {
    position: relative;
    right: 600px;
    top: 220px;
    border-radius: 5px;
    font-size: 15px;
    padding: 9px 18px;
    background-color: black;
    color: white;
    }
  STYLE 1 END */
  
  /* STYLE 2 - THIS IS WHERE THE COMMENTS BEGIN
  #Header-Box1 {
    max-width: 50%;
    height: 50%; 
  }
  
  #Header-Box2 {
    width: 270px;
    height: 270px;
    border-radius: 5px;
    background-color: #a2a7b0;
    position: relative;
    bottom: 200px;
    left: 700px;
  }
  #Join-button {
  position: relative;
    left: 900px;
    bottom: 530px;
    border-radius: 5px;
    font-size: 15px;
    padding: 9px 18px;
    background-color: black;
    color: white;
  }
  
  #Learnmore-button {
    position: relative;
    right: 75px;
    bottom: 200px;
    border-radius: 5px;
    font-size: 15px;
    padding: 9px 18px;
    background-color: black;
    color: white;
    }
  
  STYLE 2 - THIS IS WHERE THE COMMENT ENDS */
  
  .Header-Container {
    
    min-width: 1000px;
    height: 360px;
    background-color: #f3f5f2;
    border-radius: 5px;
    margin: auto;
    padding: 60px 60px 20px 60px;
    display: flex;
    justify-content: space-evenly;
  }
  
  #Header-Box1 {
    max-width: 50%;
  }
  
  #Header-Box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 30px;
  }
  
  #Header-Box2-Square {
    width: 290px;
    height: 290px;
    border-radius: 5px;
    background-color: #a2a7b0;
  }
  
  #Join-button {
    align-self: flex-end;
    position: relative;
    top: -20px;
  }
  
  /*  C2 Div OPENING */
  
  #C2 {
    display: flex;
    flex-direction: column;
    min-width: 880px;
    height: auto;
    margin: auto;
    padding: 10px 10px;
    background-color: #f3f5f2;
    
  }
  
  #C2-B1 {
    max-width: 570px;
    height: 180px;
  }
  
  #C2-B2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  .C2-B2-P {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .C2-B2-P-Graphic {
    width: 95%;
    height: 160px;
    background-color: #a2a7b0;
    border-radius: 5px;
  }
  
  .C2-B2-circles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    max-width: 56%; 
    height: auto;
  }
  
  .circle {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
  }
  
  .C2-B2-P-button {
    padding-top: 18px;
  }
  
  